<%= stylesheet_link_tag "top", "data-turbo-track": "reload" %>
<main>
  <div class="main-container">
    <div class="description">
    <div class="description-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Nunc sit.</p>
    </div>
    <button class="temp btn">ログイン<button> 
    <button class="temp2 btn">新規登録<button> 
  </div>
</main>