<%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
<div class="prf-modal-innner">
  <p>
    <%= current_user.name %>
  </p>
  <p>
    <% if current_user.profile && current_user.profile.image.attached? %>
      <%= image_tag url_for(current_user.profile.image), class: "prf-image", size: "200*200", alt: "avatar" %>
    <% else %>
      No image attached
    <% end %>
  </p>
  <p>
    <% if current_user.profile && current_user.profile.self_introduce %>
      <%= current_user.profile.self_introduce %>
    <% else %>
      No image attached
    <% end %>
  </p>
</div>