<%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
<div class="main-container">
  <p>ユーザー登録して</br>
  最高の体験を探そう！</p>

  <%= render "form", user: @user %>

  <br>

  <div class="back-to-top">
    <%= link_to "Back to top", root_path %>
  </div>
</div>
