<%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>

<header>
  <div class="navbar header">
    <div class="flex-1">
      <h1> Visit Awesome <br> Experience Japan</h1>
    </div>
    <div class="flex-none gap-2">
      <div class="avatar">
        <%= image_tag "avatar.png", size: "16x16", alt: "avatar" %>
      </div>
    </div>
  </div>
</header>