<%= stylesheet_link_tag "header", "data-turbo-track": "reload" %>

<header>
  <div class="navbar header">
    <div class="flex-1">
      <h1> Visit Awesome <br> Experience Japan</h1>
    </div>
    <div class="avatar">
      <%= link_to "#", data: { toggle: "modal", target: "#prf-modal" } do %>
        <%= image_tag "avatar.png", size: "16x16", alt: "avatar" %>
      <% end %>
    </div>
  </div>
</header>