<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class=main-container>
  <%= render "form", experience: @experience %>
  <br>
  <div class="show-back-area">
    <%= link_to t('common.back_to_show'), @user %> |
    <%= link_to t('common.back_to_top'), experiences_path %>
  </div>
</div>
