<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class=main-container>
  <div id="experiences">
    <% @experiences.each do |experience| %>
      <%= render experience %>
      <p>
        <%= link_to "Show this experience", experience %>
      </p>
    <% end %>
  </div>

  <%= link_to "New experience", new_experience_path %>
</div>