<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class=main-container>
  <div id="experiences">
    <% @experiences.each do |experience| %>
      <%= link_to experience do %>
        <%= render experience %>
      <% end %>
    <% end %>
  </div>

  <%= link_to new_experience_path, class: "fixed-button" do %>
    <i class="fa-solid fa-circle-plus">+</i>
  <% end %>
</div>