<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class=main-container>
  <div id="experiences">
    <% @experiences.each do |experience| %>      
      <%= render experience %>
    <% end %>
  </div>
  <%= render partial:"shared/profile_modal", locals: {user: @user} %>
</div>