<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class=main-container>
  <div id="experiences">
    <% @experiences.each do |experience| %>      
      <%= render experience %>
    <% end %>
  </div>
  <%= link_to '+', new_experience_path, class: "new-button" %>
<%
=begin%>
 <%= render 'shared/profile_modal' %> 
<%
=end%>
</div>