<%= stylesheet_link_tag "experience", "data-turbo-track": "reload" %>
<div class="main-container">
    <%= render "form", experience: @experience %>
    <div class="back-area">
      <%= link_to t('common.back_to_top'), experiences_path %>
    </div>
</div>