.main-container {
  display: flex;
  flex-direction: column;
  background-color: #F7EEDD;
  width: 100vw;
  min-height: calc(100vh - 180px);
}

.experience {
  display: flex;
  flex-direction: column;
  background-color: #008DDA;
  border-radius: 2rem;
  border-style: none;
  color: white;
  opacity: 0.8;
  margin: 1rem auto;
  height: 25rem;
  width: 20rem;
}

.experience p {
  font-size: 1.25rem;
}

.title {
  font-weight: bold;
  margin: 0.5rem 0 0 1rem;
}

.image {
  width: 80%;
  margin: 0.5rem auto;
  height: 10rem;
  border-radius: 0.5rem;
}

.disc-area {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 0 0 1rem 2rem;
}

.disc {
  white-space: pre-wrap;
}

.new-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #ACE2E1;
  border-radius: 50%;
  color: white;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  font-size: 2rem;
  line-height: 1.2;
  padding: 10px;
  text-align: center;
}

.new {
  height: 35rem;
}

.show {
  height: 35rem;
}

.form-label {
  display: block;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
}

.form-text-field {
  border-radius: 0.25rem;
  color: black;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
  height: 2rem;
  width: 15rem;
}

.form-text-area {
  border-radius: 0.25rem;
  color: black;
  font-size: 1rem;
  margin-top: 0.25rem;
  margin-left: 2rem;
  height: 6rem;
  width: 15rem;
}

.postting-button {
  background-color: #41C9E2;
  border-radius: 0.5rem;
  color: #FFF;
  display: block;
  font-size: 1.75rem;
  margin: 1rem auto 0 auto;
  height: 3rem;
  width: 15.625rem;
}

.edit-area {
  bottom: 1.5rem;
  right: 3.5rem;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  position: absolute;
  justify-content: space-between;
  width: 4rem;
}

.edit {
  color: black;
}

.delete {
  color: red;
}

.back-area {
  text-align: center;
  margin-bottom: 1rem;
}