.main-container {
  display: flex;
  flex-direction: column;
  background-color: #F7EEDD;
  width: 100vw;
  min-height: calc(100vh - 180px);
}

.experience {
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 1rem auto;
  background-color: #008DDA;
  height: 18.75rem;
  color: white;
  border-radius: 2rem;
}