<%= stylesheet_link_tag "user", "data-turbo-track": "reload" %>
<div class="main-container">
  <p><%= t('login.message') %></p>

  <%= render "form", user: @user %>

  <br>

  <div class="back-to-top">
    <%= link_to t('common.back_to_top'), root_path %>
  </div>
</div>